#Python (3+)
numpy==1.17.3
pandas==0.25.0
praat-parselmouth
moviepy
scikit-image
sk-video
watchtower
opencv-python
webrtcvad
imutils
dlib==19.13.0
coloredlogs
h5py
ujson
numba==0.48.0
librosa
more_itertools
scipy==1.3.2
scikit-learn
pyyaml==5.4.1
pydub
deepspeech
nltk
lexicalrichness
vaderSentiment
textblob
